<nav class="navbar navbar-expand-lg navbar-light" style="box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); background-color: #003366; height: 80px;">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <!-- IT Company logo on the left -->
    <a class="navbar-brand" style="color: #fff; margin-left: 20px; font-weight: bold; font-size: 2rem; bottom: 10%;">
      IT COMPANY
    </a>

    <!-- Links and Logout button on the right -->
    <div class="d-flex align-items-center">
      <!-- Add Employees link -->
      <a class="nav-link" href="add-employees" routerLinkActive="active" style="color: #f9fafc; margin-right: 200px; margin-left: 500px; font-weight: bold;">ADD EMPLOYEES</a>
      <!-- Employees List link -->
      <a class="nav-link" href="/list-of-employees" routerLinkActive="active" style="color: #f9fafc; margin-right: 200px; font-weight: bold;">EMPLOYEES LIST</a>

      <!-- Logout button -->
      <button class="btn btn-danger btn-lg ms-3" style="border-radius: 10px; margin-left: 20px; font-weight: bold; padding: 12px 24px; background-color: #0daaf3; border: none; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);">
        <a style="color: white; text-decoration: none; font-size: 1rem;" href="#" routerLink="/home">Logout</a>
      </button>
    </div>

  </div>
</nav>
<!-- Main Content -->
<div class="container" style="background-color:rgb(232, 243, 248)">
  <div class="text-center">
    <h2 style="color: #003366; font-weight: bold; ">Admin Dashboard</h2>
    <hr>
    <marquee behavior="scroll" direction="left" style="color: #006699; font-size: large; font-style: italic;">
      Welcome to the Admin Dashboard of the IT COMPANY. Click on 'View' button to view employee's details. Click on 'Update' button to update employee's details, Click on 'ADD EMPLOYEES' to add more employees.
    </marquee>
    <hr>
  </div>
  
